[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-nerdtree"]
	path = bundle/vim-nerdtree
	url = https://github.com/scrooloose/nerdtree/
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "bundle/badwolf"]
	path = bundle/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/django.vim"]
	path = bundle/django.vim
	url = git@github.com:vim-scripts/django.vim.git
[submodule "bundle/vim-jinja"]
	path = bundle/vim-jinja
	url = https://github.com/mitsuhiko/vim-jinja.git
[submodule "bundle/jshint2.vim"]
	path = bundle/jshint2.vim
	url = git@github.com:Shutnik/jshint2.vim.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "bundle/vim-webdevicons"]
	path = bundle/vim-webdevicons
	url = https://github.com/ryanoasis/vim-webdevicons
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = git@github.com:jlanzarotta/bufexplorer.git
[submodule "bundle/vim-atom-dark"]
	path = bundle/vim-atom-dark
	url = https://github.com/gosukiwi/vim-atom-dark.git
[submodule "bundle/jedi"]
	path = bundle/jedi
	url = http://github.com/davidhalter/jedi-vim
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule "bundle/fzf"]
	path = bundle/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule "bundle/goyo"]
	path = bundle/goyo
	url = https://github.com/junegunn/goyo.vim.git
