[submodule "bundle/vim-erlang"]
	path = bundle/vim-erlang
	url = https://github.com/oscarh/vimerl
[submodule "bundle/git-vim"]
	path = bundle/git-vim
	url = https://github.com/motemen/git-vim
[submodule "bundle/vim-clojure"]
	path = bundle/vim-clojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/ewiplayer/vim-scala.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-nerdtree"]
	path = bundle/vim-nerdtree
	url = https://github.com/scrooloose/nerdtree/
